@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 97%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 200 67% 42%; /* Changed to a darker blue */
    --primary-rgb: 0, 102, 204; /* Changed to a darker blue */
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 200 4.8% 95.9%; /* Changed to blue */
    --secondary-foreground: 24 9.8% 10%;
    --muted: 200 4.8% 95.9%; /* Changed to blue */
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 200 4.8% 95.9%; /* Changed to blue */
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 200 67% 42%; /* Changed to a darker blue */
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 200 67% 42%; /* Changed to a darker blue */
    --primary-rgb: 0, 102, 204; /* Changed to a darker blue */
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 200 6.5% 15.1%; /* Changed to blue */
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 200 6.5% 15.1%; /* Changed to blue */
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 200 6.5% 15.1%; /* Changed to blue */
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 200 67% 42%; /* Changed to a darker blue */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(
      to right,
      transparent 0%,
      transparent calc(100% - 1px),
      rgba(0, 0, 0, 0.05) calc(100% - 1px)
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      transparent calc(100% - 1px),
      rgba(0, 0, 0, 0.05) calc(100% - 1px)
    );
    background-size: 20px 20px;
  }

  h1, h2, h3 {
    @apply font-darker-grotesque font-bold;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-3xl md:text-4xl;
  }

  h3 {
    @apply text-2xl md:text-3xl;
  }

  p {
    @apply font-outfit;
  }
}
